* {
    background-color: transparent;
}

body {
    margin: 0px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("./backgroup-image.jpg");
    background-repeat: no-repeat;
    color: rgb(23, 99, 230);
}

.btn {
    height: 30px;
    border-radius: 12px;
    border-color: blueviolet;
    color: rgb(101, 182, 211);
    margin: 20px;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    height: 100px;
    width: 300px;
    margin: 20px;
}

.left-div>img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.right-div {
    display: flex;
    align-items: center;
}

.name {
    color: rgb(141, 65, 212);
    font-size: 1.2em;
    font-weight: bold;
}

.fav {
    text-align: center;
    color: rgb(219, 87, 212);
    border-color: blueviolet;
    border-radius: 12px;
    font-weight: bold;
}